/* ORIGINAL BOILERPLATE START */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* ORIGINAL BOILERPLATE END */

.whats-new-cards {
  display: flex;
  flex-direction: column;
  padding: 5rem !important;
  margin: auto;
  width: 100%;
  max-width: 80rem;
  gap: 2.5rem;
}

.whats-new-cards > div {
  margin: 0;
}

.whats-new-cards > div h2 {
  margin: 0;
  margin-block: 0;
  line-height: 46px;
  font-weight: 700;
}

.whats-new-cards .cards.block ul {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
  min-height: 500px;
  height: 100%;
}

/* IF ANCHOR-CARD */
.whats-new-cards .cards.block ul a {
  display: flex;
  color: rgb(var(--blue-dark));
  text-decoration: none;
}

.whats-new-cards .cards.block ul li {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1.5rem;
}

.whats-new-cards .cards.block ul li:hover {
  cursor: pointer;
}

.whats-new-cards .cards.block ul li .cards-card-body {
  display: flex;
  flex-direction: column;
  font-family: var(--heading-font-family);
  font-weight: 700;
  height: 100%;
  margin: 0;
  gap: 1.5rem;
}

.whats-new-cards .cards.block ul li .cards-card-body p {
  margin: 0;
}

/* ---------- FIRST COLUMN: SUBTITLE AND (MAYBE) IMAGE ---------- */
.whats-new-cards .cards.block ul li .cards-card-body:first-child {
  font-size: var(--heading-font-size-s) !important;
}

/* IF IMAGE */
.whats-new-cards .cards.block ul li .cards-card-body:first-child p:last-child {
  border-radius: 4px;
  max-height: 13rem;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.whats-new-cards .cards.block ul li .cards-card-body:first-child picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: inherit;
  transition: .3s transform cubic-bezier(.4,0,.2,1);
}

/* ---------- THIRD COLUMN: ACTION ITEM ICON ---------- */
.whats-new-cards .cards.block ul li .cards-card-body:last-child .icon img {
  margin-top: -3px;
  vertical-align: middle;
}

.whats-new-cards .cards.block ul li:hover .cards-card-body:first-child picture img {
  transform: scale(1.1);
}

/* ---------- THIRD COLUMN: ACTION ITEM ---------- */
.whats-new-cards .cards.block ul li .cards-card-body:last-child {
  justify-content: flex-end;
  color: rgb(var(--blue));
  font-size: var(--heading-font-size-s) !important;
}

/* ---------- SECOND COLUMN: MAIN CONTENT ---------- */
.whats-new-cards .cards.block ul li .cards-card-body:not(:first-child, :last-child) {
  font-size: var(--heading-font-size-m);
  line-height: 1.25;
  text-decoration: underline transparent;
  transition: .3s text-decoration-color cubic-bezier(.4,0,.2,1);
}

.whats-new-cards .cards.block ul li:hover .cards-card-body:not(:first-child, :last-child) {
  text-decoration-color: rgb(var(--blue-dark));
}

/* ---------- THIRD COLUMN: ACTION ITEM, (MAYBE) ICON, AND (MAYBE) CARD ANCHOR TAG ---------- */
.whats-new-cards .cards.block ul li:hover .cards-card-body:last-child {
  color: rgb(var(--blue-medium));
}

/* IF ICON */
.whats-new-cards .cards.block ul li .cards-card-body:last-child .icon {
  margin-left: .5rem;
}

.whats-new-cards .cards.block ul li:hover .cards-card-body:last-child .icon img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(11%) saturate(7026%) hue-rotate(195deg) brightness(95%) contrast(102%);
}

/* IF ANCHOR TAG */
.whats-new-cards .cards.block ul li .cards-card-body:last-child p:last-child {
  display: none;
}

/* CARD COLORS */
.whats-new-cards .cards.block ul a:nth-child(1) li {
  background-color: rgb(221 230 249);
}

.whats-new-cards .cards.block ul a:nth-child(2) li {
  background-color: rgb(244 240 255);
}

.whats-new-cards .cards.block ul a:nth-child(3) li {
  background-color: rgb(224 255 244);
}

/* SPECIAL CASE: CALL-OUT CARD */
.call-out .cards.block ul a:nth-child(1) li .cards-card-body:not(:first-child, :last-child) {
  font-size: var(--heading-font-size-l);
  line-height: 40px;
  margin-top: -75px;
  text-decoration: solid underline transparent;
  transition: .3s text-decoration cubic-bezier(.4,0,.2,1);
}

.call-out .cards.block ul a:nth-child(1) li:hover .cards-card-body:not(:first-child, :last-child) {
  text-decoration-color: rgb(var(--blue-dark));
}

.rise-above-cards {
  display: flex;
  flex-direction: column;
  padding: 5rem !important;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  color: rgb(var(--blue-dark));
  gap: 2.5rem;
}

.rise-above-cards > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 1.5rem;
}

.rise-above-cards h2, .rise-above-cards h3, .rise-above-cards p {
  margin: 0;
}

.rise-above-cards .cards.block ul {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
}

.rise-above-cards .cards.block ul li {
  display: flex;
  flex-direction: column;
  grid-column: span 4 / span 4;
  width: 100%;
}

.rise-above-cards .cards.block ul li .cards-card-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.5rem;
  gap: 1.5rem;
}

.rise-above-cards .cards.block ul li .cards-card-body img {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.dayforce-diff-cards {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem !important;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  color: rgb(var(--blue-dark));
  gap: 2.5rem;
}

.dayforce-diff-cards h2, .dayforce-diff-cards p {
  margin: 0;
}

.dayforce-diff-cards .columns-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 1.5rem;
}

.dayforce-diff-cards .columns.block > div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.dayforce-diff-cards .columns.block > div div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: inherit;
  gap: 1.5rem;
}

.dayforce-diff-cards .columns.block > div div:first-child p:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xs);
  color: rgb(48 103 219);
  text-transform: uppercase;
  line-height: 24px;
}

.dayforce-diff-cards .columns.block > div div:first-child h2 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  font-weight: 700;
  line-height: 1.15;;
}

.dayforce-diff-cards .columns.block > div div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.dayforce-diff-cards .columns.block > div div:last-child img {
  display: block;
  aspect-ratio: 4 / 3;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 768px) {
  .dayforce-diff-cards .columns.block > div div:first-child p:first-child {
    font-size: var(--heading-font-size-s);
  }

  .dayforce-diff-cards .columns.block > div div:first-child h2 {
    font-size: var(--heading-font-size-l);
  }
}

@media (width >= 1024px) {
  .dayforce-diff-cards {
    padding: 5rem 2.5rem !important;
  }

  .dayforce-diff-cards .columns.block > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
  }
}

@media (width >= 1440px) {
  .dayforce-diff-cards {
    padding: 5rem !important;
  }
}