/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: absolute;
}

header nav#nav {
  box-sizing: border-box;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  margin: auto;
  max-width: 1264px;
  height: var(--mobile-nav-height);
  padding: 0;
  font-family: var(--body-font-family);
}

header nav#nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 1024px) {
  header nav#nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
  }

  header nav#nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav#nav p {
  margin: 0;
  line-height: 1;
}

header nav#nav a:any-link {
  color: currentcolor;
  display: block;
}

/* hamburger */
header nav#nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
  top: 3.75rem;
}

header nav#nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav#nav .nav-hamburger-icon,
header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 1024px) {
  header nav#nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

.dayfoce-header nav#nav .icon-dayforce img {
  filter: brightness(0) saturate(100%) invert(37%) sepia(28%) saturate(3937%) hue-rotate(207deg) brightness(87%) contrast(96%);
  max-width: 168px;
  width: 100%;
}

/* sections */
header nav#nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav#nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav#nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav#nav .nav-sections ul > li {
  font-weight: 700;
}

header nav#nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav#nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 1024px) {
  header nav#nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav#nav a:any-link {
    display: block;
  }

  header nav#nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav#nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    z-index: 10;
  }

  header nav#nav .nav-sections .nav-drop::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav#nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav#nav .nav-tools {
  grid-area: tools;
}

header nav#nav .nav-tools .button {
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
}

/* breadcrumbs */
header .breadcrumbs {
  display: none;
  padding: 0 32px;
  width: 100%;
  height: var(--breadcrumbs-height);
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  font-size: var(--breadcrumbs-font-size);
}

header .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
  padding-inline-start: 0;
  opacity: 0.7;
}

header .breadcrumbs ol li:not(:last-child)::after {
  content: "/";
  padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li a:any-link {
  color: var(--text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li:last-of-type {
  opacity: 1;
}

@media screen and (width >= 1024px) {
  header .breadcrumbs {
    display: block;
  }
}

/* dayforce header */
.dayfoce-header .main-nav .main-nav-column-2,
.dayfoce-header .main-nav .main-nav-column-3 {
  display: none;
}

header .dayfoce-header nav#nav .header-top {
  display: none;
}

header .dayfoce-header .header-bottom {
  padding: 0 1.5rem;
}

.dayfoce-header .main-nav .main-nav-column-1 {
  height: 65px;
  display: flex;
}

@media (width >= 1024px) {
  header .dayfoce-header .nav-wrapper {
    position: relative;
  }

  .dayfoce-header nav#nav {
    padding: 0;
    flex-direction: column;
    max-width: none;
    height: var(--nav-height);
  }

  .dayfoce-header nav#nav[aria-expanded="true"] .section {
    width: 100%;
  }

  .dayfoce-header nav#nav .icon-dayforce img {
    max-width: 145px;
  }

  header .dayfoce-header nav#nav .header-top {
    height: 40px;
    box-sizing: border-box;
    flex: unset;
    padding: 1rem 1.5rem 0;
    display: block;
  }

  header .dayfoce-header nav#nav .header-top .button {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  header .dayfoce-header nav#nav .utility-links .utility-column-1 .button {
    background-color: rgb(226 232 240);
    padding: 1px;
  }

  .dayfoce-header .utility-links .utility-column-5 .button {
    gap: 0.25rem;
  }

  .dayfoce-header .utility-links .utility-column-5 .button .icon-nav-arrow {
    transform: rotate(0deg);
    transition: transform .15s ;
  }

  .dayfoce-header .utility-links .utility-column-5 .button.active .icon-nav-arrow {
    transform: rotate(180deg);
  }

  header .dayfoce-header .header-bottom {
    height: 84px;
    flex-basis: 84px;
    padding: .5rem 1.5rem 0;
    box-sizing: border-box;
  }

  .dayfoce-header .header-bottom .columns-wrapper {
    height: 100%;
    max-width: 80rem;
    margin: auto;
  }

  .dayfoce-header .main-nav {
    height: 100%;
    position: relative;
  }

  .dayfoce-header .utility-links > div {
    justify-content: flex-end;
    gap: 24px;
  }

  .dayfoce-header .utility-links .utility-column {
    flex: none;
    position: relative;
  }

  .dayfoce-header .utility-links .icon img {
    width: 16px;
    display: block;
  }

  .dayfoce-header .utility-links .icon:not(.icon-nav-arrow) img {
    filter: invert(30%) sepia(88%) saturate(2498%) hue-rotate(214deg) brightness(91%) contrast(87%);
  }

  .dayfoce-header .main-nav > div {
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
    height: 100%;
  }

  .dayfoce-header .main-nav .main-nav-column {
    flex: inherit;
    display: flex;
  }

  .dayfoce-header .main-nav .main-nav-column.main-nav-column-2 {
    flex: none;
  }

  .dayfoce-header nav#nav .main-nav .nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .dayfoce-header nav#nav .main-nav .nav-ul li a {
    padding: 1.5rem .5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: "Clarika Geometric", ui-sans-serif, system-ui, Arial;
    font-size: 15px;
    line-height: 24px;
    gap: .5rem;
    transition-property: border-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    border-bottom: solid 4px transparent;
    text-decoration: none;
  }

  .dayfoce-header nav#nav .main-nav .nav-ul > li.active > a {
    border-bottom-color: rgb(var(--blue));
  }

  .dayfoce-header nav#nav .main-nav .nav-ul > li > a .icon {
    display: block;
    transform: rotate(0deg);
    transition: transform .2s;
  }

  .dayfoce-header nav#nav .main-nav .nav-ul > li.active > a .icon {
    transform: rotate(180deg);
  }

  .dayfoce-header nav#nav .nav-ul .icon img {
    width: 16px;
    display: block;
  }

  /* get started button */
  .dayfoce-header .main-nav > div > div:last-child {
    flex: none;
    margin-left: auto;
  }

  .dayfoce-header nav#nav .main-nav > div > div:last-child a {
    background-color: rgb(var(--blue));
    color: #fff;
    padding: .5rem 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: 8px;
    font-weight: 700;
    font-family: "Clarika Geometric", ui-sans-serif, system-ui, Arial;
    font-size: 16px;
  }

  .dayfoce-header nav#nav .main-nav > div > div:last-child a:hover {
    background-color: rgb(var(--blue-medium));
    text-decoration: none;
  }

  .dayfoce-header nav#nav .main-nav .icon-rightarrow img {
    width: 24px;
    filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(317deg) brightness(102%) contrast(103%);
  }
}