/* ORIGINAL BOILERPLATE START */
.tabs .tabs-list {
  display: flex;
  gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--dark-color);
  border-radius: 0;
  padding: 8px 16px;
  background-color: var(--light-color);
  color: initial;
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button[aria-selected="true"] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 0 16px;
  border: 1px solid var(--dark-color);
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

/* ORIGINAL BOILERPLATE END */

.stand-for-tabs {
  padding: 5rem !important;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  color: rgb(var(--blue-dark));
}

.stand-for-tabs > div {
  margin: 0;
}

.stand-for-tabs h2 {
  margin: 0;
  line-height: 1.15;
  font-weight: 700;
}

.stand-for-tabs .tabs.block {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.stand-for-tabs .tabs.block .tabs-panel {
  padding: 2rem 1rem;
}

.stand-for-tabs .tabs.block .tabs-panel > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.stand-for-tabs .tabs.block .tabs-panel > div picture img {
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
}

.stand-for-tabs .tabs.block .tabs-list {
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
  width: 100%;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  line-height: 24px;
  color: rgb(var(--blue-dark));
  padding: 1.5rem 2rem;
  border: 1px solid rgb(191 195 195);
  border-radius: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p {
  margin: 0;
}

.stand-for-tabs .tabs.block .tabs-list a {
  text-decoration: none;
}

.stand-for-tabs .tabs.block .tabs-tab p a {
  display: none;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  line-height: 36px;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p:has(.icon) {
  display: flex;
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 700;
  color: rgb(var(--link-color));
  line-height: 27px;
  padding-top: .75rem;
  gap: 0.5rem;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab:hover p:has(.icon) {
  color: rgb(var(--blue-medium));
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p:has(.icon) img {
  vertical-align: middle;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab:hover p:has(.icon) img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(11%) saturate(7026%) hue-rotate(195deg) brightness(95%) contrast(102%);
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab:hover {
  cursor: pointer;
  background-color: rgb(218 241 252);
}
