/* ORIGINAL BOILERPLATE START */
.tabs .tabs-list {
  display: flex;
  gap: 8px;
  max-width: 100%;
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--dark-color);
  border-radius: 0;
  padding: 8px 16px;
  background-color: var(--light-color);
  color: initial;
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button[aria-selected="true"] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 0 16px;
  border: 1px solid var(--dark-color);
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

/* ORIGINAL BOILERPLATE END */

.offer-tabs {
  padding: 5rem !important;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  color: rgb(var(--blue-dark));
}

.offer-tabs > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 1.5rem;
}

.offer-tabs .tabs.block {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.5rem;
}

.offer-tabs .tabs.block .tabs-list {
  display: flex;
  flex-direction: column;
  grid-column: span 3 / span 3;
  width: 100%;
  position: relative;
}

.offer-tabs .tabs.block .tabs-list button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: transparent;
  color: rgb(var(--blue-dark));
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0 1px;
  padding: 0 0 0 1.5rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  transition: .3s border-color cubic-bezier(.4,0,.2,1);
  gap: 0.5rem;

}

.offer-tabs .tabs.block .tabs-list button[aria-selected="true"] {
  border-color: rgb(195 195 195);
}

.offer-tabs .tabs.block .tabs-panel .button-container .secondary {
  border-color: rgb(var(--blue-dark)/var(--opacity-full));
  width: 187.44px;
  margin-top: 1rem;
  transition-duration: .15s background-color cubic-bezier(.4,0,.2,1);
}

.offer-tabs .tabs.block .tabs-panel p {
  margin: 0;
  font-size: var(--heading-font-size-m);
}

.offer-tabs .tabs.block .tabs-panel p:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  color: rgb(48 103 219);
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p {
  margin: 0;
}

.offer-tabs .tabs.block .tabs-list button p:first-child {
  font-family: var(--body-font-family);
  font-weight: 300;
  padding: 1.5rem 2rem 0 0;
  margin: 0;
  transition: .3s font-weight, color cubic-bezier(.4,0,.2,1);
}

.offer-tabs .tabs.block .tabs-list button p:last-child {
  padding: 0 2rem 1.5rem 0;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-m);
  border: 0;
  border-bottom-width: 1px;
  border-top-width: none;
  border-color: rgb(195 195 195);
  border-style: solid;
  transition: .3s font-weight cubic-bezier(.4,0,.2,1);
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  line-height: 36px;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p:has(.icon) {
  display: flex;
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 700;
  color: rgb(var(--link-color));
  line-height: 27px;
  padding-top: .75rem;
  gap: 0.5rem;
}

.offer-tabs .tabs.block .tabs-list button[aria-selected="true"] p:first-child {
  font-weight: 700;
  color: rgb(48 103 219);
}

.offer-tabs .tabs.block .tabs-list button[aria-selected="true"] p:last-child {
  font-weight: 700;
}

.offer-tabs .tabs.block .tabs-panel {
  grid-column: 5 / span 8;
  position: relative;
  max-width: 100%;
  padding: 0;
}

.stand-for-tabs > div {
  margin: 0;
}

.offer-tabs .tabs.block .tabs-panel > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.offer-tabs .tabs.block .tabs-panel .button-container .secondary:hover {
  background-color: rgb(var(--blue-darkest)/var(--opacity-light));
}

.stand-for-tabs h2 {
  margin: 0;
  line-height: 1.15;
  font-weight: 700;
}

.offer-tabs .tabs.block .tabs-panel h2 {
  margin: 0;
}

.stand-for-tabs .tabs.block .tabs-panel > div picture img {
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-bottom-left-radius: 180px;
}

.offer-tabs .tabs.block .tabs-panel table tr {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5rem;
}

.offer-tabs .tabs.block .tabs-panel table tr td:first-child {
  display: flex;
  flex-direction: column;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  font-weight: 600;
  line-height: 1.15;
  margin-top: 4rem;
  width: 100%;
  gap: 1.5rem;
}

.offer-tabs .tabs.block .tabs-panel table tr td:first-child img {
  object-position: left;
  object-fit: contain;
  max-height: 4rem;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.offer-tabs .tabs.block .tabs-panel table tr td:last-child img {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab p:has(.icon) img {
  vertical-align: middle;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab:hover p:has(.icon) img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(11%) saturate(7026%) hue-rotate(195deg) brightness(95%) contrast(102%);
}

.offer-tabs .tabs.block .tabs-panel#tabpanel-02-talent table tr td:first-child img {
  width: auto;
}

.offer-tabs .tabs.block .tabs-panel table tr td:first-child h4 {
  margin: 0;
}

.offer-tabs .tabs.block .tabs-panel table tr td:first-child p:last-child {
  font-family: var(--body-font-family);
  font-size: 1rem;
  line-height: 24px;
  margin-top: -1.3rem;
}

.offer-tabs .tabs.block .tabs-panel table tr td:last-child {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  width: 100%;
}

.stand-for-tabs {
  padding: 5rem !important;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  color: rgb(var(--blue-dark));
}

.stand-for-tabs .tabs.block {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.stand-for-tabs .tabs.block .tabs-panel {
  padding: 2rem 1rem;
}

.stand-for-tabs .tabs.block .tabs-panel > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.stand-for-tabs .tabs.block .tabs-list {
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
  width: 100%;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  line-height: 24px;
  color: rgb(var(--blue-dark));
  padding: 1.5rem 2rem;
  border: 1px solid rgb(191 195 195);
  border-radius: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.stand-for-tabs .tabs.block .tabs-list a {
  text-decoration: none;
}

.stand-for-tabs .tabs.block .tabs-tab p a {
  display: none;
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab:hover p:has(.icon) {
  color: rgb(var(--blue-medium));
}

.stand-for-tabs .tabs.block .tabs-list .tabs-tab:hover {
  cursor: pointer;
  background-color: rgb(218 241 252);
}
