body.modal-open {
  overflow: hidden;
}

.modal dialog {
  overscroll-behavior: none;
  border: 0;
}

.modal dialog .modal-content {
  overflow-y: auto;
  overscroll-behavior: none;
  max-height: calc(100dvh - 60px);
}

@media (width >= 600px) {
  .modal dialog {
    padding: 0;
    width: 100%;
    max-width: none;
    margin: 0;
  }

  .modal dialog .modal-content {
    max-height: calc(100vh - 90px);
  }
}

.modal dialog::backdrop {
  background-color: #f9fafb;
}

.modal .close-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: "Clarika Grotesque Light", ui-sans-serif, system-ui, arial;
  font-size: 50px;
  font-weight: 300;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 30px;
  transform: translateY(-50%);
  width: 50px;
  z-index: 9999;
}

.modal dialog .section {
  padding: 0;
}

.modal .text-wrapper label {
  display: none;
}

.modal .submit-wrapper {
  opacity: 0;
  visibility: hidden;
  height: 0;
  position: absolute;
}

.modal .form .field-wrapper {
  padding: 0;
}

.modal .form .field-wrapper input {
  height: 78px;
  line-height: 50px;
  margin: 0 auto;
  max-width: 670px;
  border-radius: 0;
  box-shadow: none;
  box-sizing: content-box;
  padding: 0 40px;
  color: #3b454f;
  font-size: 28px;
}