footer {
  color: rgb(var(--white)/var(--opacity-full));
}

footer .footer-top {
  background-color: rgb(var(--blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(var(--light-blue)), rgb(var(--blue)));
  padding: 5rem;
  gap: 2rem;
}

footer .footer-top h2 {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-weight: 700;
}

footer .footer-top-columns > div {
  gap: 1.5rem;
}

footer .footer-top-columns .button-container {
  display: flex;
  margin: 0;
}

footer .footer-middle-top-columns ul li a {
  font-family: var(--heading-font-family);
  font-weight: 700;
  letter-spacing: -.32px;
  color: rgb(var(--white));
  opacity: var(--opacity-full);
  transition: .15s color cubic-bezier(.4,0,.2,1);
}

footer .footer-middle-top-columns ul li a:hover {
  text-decoration: none;
  color: rgb(var(--white-hover));
}

footer .footer-top-columns .button-container .icon-lightarrow {
          margin-left: 0.5rem;
}

footer .footer-middle-top-columns ul li a img {
  vertical-align: middle;
}

footer .footer-top-columns .button-container .icon-lightarrow img {
  vertical-align: middle;
}

footer .footer-top-columns .primary {
  justify-content: flex-end;
  background-color: rgb(var(--blue-darkest)/var(--opacity-full));
  border-color: rgb(var(--blue-darkest)/var(--opacity-full));
  width: 202px;
  transition-duration: .15s;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

footer .footer-top-columns .primary:hover {
  background-color: rgb(var(--blue-dark)/var(--opacity-full));
  border-color: rgb(var(--blue-dark)/var(--opacity-full));
}

footer .footer-top-columns .primary:active {
  background-color: rgb(var(--blue-darkest)/var(--opacity-full));
  border-color: rgb(var(--blue-darkest)/var(--opacity-full));
}

footer .footer-top-columns .secondary {
  justify-content: flex-start;
  border-color: rgb(var(--white)/var(--opacity-full));
  width: 187.44px;
  transition-duration: .15s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

footer .footer-top-columns .secondary:hover {
  background-color: rgb(var(--blue-darkest)/var(--opacity-light));
}

footer .footer-middle {
  background-color: rgb(var(--blue));
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem; 
}

footer .footer-middle > div {
  margin: auto;
  width: 100%;
  max-width: 80rem;
}

footer .footer-middle p {
  margin: 0;
}

footer .footer-middle-top-columns > div {
  display: flex;
  align-items: flex-start;     
}

footer .footer-middle-top-columns h4 {
  margin-top: 0;
  margin-bottom: 0;
}

footer .footer-middle-top-columns ul {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding-inline-start: 0;
  gap: 0.5rem;
}

footer .footer-middle-top-columns ul li a:has(img) span {
  margin-left: .5rem;
}

footer .footer-middle-top-columns ul li:first-child {
  margin-top: 1.5rem;
}

footer .footer-middle-bottom-columns > div {
  margin: 0;
  max-width: 80rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
    
footer .footer-middle-bottom-columns div:has(h4) h4 {
  line-height: 36px;
  margin-block: 0;
}

footer .footer-middle-bottom-columns div:has(.icon) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

footer .footer-middle-bottom-columns .icon {
  height: 2.5rem;
  width: 2.5rem;
}

footer .footer-bottom {
  background-color: rgb(var(--blue-dark));
  padding: 0 5rem;
}

footer .footer-bottom .footer-bottom-columns > div {
  margin: auto;
  width: 100%;
  max-width: 80rem;
}

footer .footer-bottom .footer-bottom-columns div ul {
  display: flex;
  padding: 0;
  gap: 1.5rem;
}
  
footer .footer-bottom .footer-bottom-columns div ul li {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
  
footer .footer-bottom .footer-bottom-columns div ul li a {
  color: rgb(var(--white));
}

footer .footer-bottom .footer-bottom-columns div ul li a:hover {
  text-decoration: none;
}

footer .footer-bottom .footer-bottom-columns div:has(.icon-globesmalllight) {
  font-size: var(--heading-font-size-xs);
}
  
footer .footer-bottom .footer-bottom-columns div:has(.icon-globesmalllight) .icon {
  width: 1rem;
  padding-right: 3px;
}
  
footer .footer-bottom .footer-bottom-columns div:has(.icon-globesmalllight) .icon img {
  vertical-align: text-bottom;
}
